/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #ffd700;
    line-height: 1.6;
}

header {
    background-color: rgb(0, 0, 0); 
    padding: 15px 0;
}


.container-header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

nav a {
    background: none;         /* Remove o fundo */
    color: #ffffff;
    padding: 0 10px;          /* Apenas espaçamento lateral */
    border-radius: 0;         /* Remove borda arredondada */
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
    font-size: 1rem;
}
nav a:hover {
    color: #b8860b;           /* Dourado escuro ao passar o mouse */
    background: none; 
}


nav a.active, nav a:hover {
}

/* Main */
main.sobre-page {
    padding: 40px 0;
}

main.sobre-page .container {
    width: 90%;
    margin: auto;
}

main.sobre-page h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
}

main.sobre-page .subtitulo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: #ffffff;
}

.sobre-texto p {
    max-width: 800px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
    color:white;
}

/* Missão, Visão e Valores */
.missao-visao-valores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    color:white;
}

.missao-visao-valores .box {
    background-color: #111;
    border: 1px solid #ffd700;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.missao-visao-valores h2 {
    margin-bottom: 10px;
    color: #ffd700;
}

/* Footer */
footer {
    background-color: #111;
    color:#ffffff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
